<p>If you're new: Enter your new username and password and hit signup.<br>
If you already have an account: Enter your username and password and hit login.
</p>
<form method="post">
<div class="row">
  <label for="txt_Username">Username:</label>
  <input id="txt_Username" name="txt_Username" type="text">
</div>
<div class="row">
  <label for="txt_Password">Password:</label>
  <input id="txt_Password" name="txt_Password" type="password">
</div>

<input type="submit" value="Login"> 
<input type="submit" value="SignUp"> 
</form>

{% if results %}
<table border="1">
  <tr>
    {% for header in headers %}
    <th scope="col">{{ header }}</th>
    {% endfor %}
  </tr>
  <tr>
  {% for row in results %}
    {% for col in headers %}
      <td>{{ row[col] }}</td>
    {% endfor %}
  <td><a href="{{ editPage(table,row) }}">edit</a></td>
  {% endfor %}
  </tr>
</table>
{% endif %}
