<div id="navigation-bar"></div>

<style type="text/css">
  .jays-nav{
    padding-left: 2vw;
    margin-top: 0;
    margin-bottom: 0;
  }
  #navigation-bar{
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 0;
    left: 0;
  }

  #navigation-bar a{
    text-decoration: none;
    color: white;
    height: 100%;
    display: block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 2vh;
  }

  #navigation-bar a:hover{
    background-color: rgb(37, 37, 37);
  }
  li {
    display: inline-block;
    height: 100%;
  }
  h1 + p {
    font-weight: 900;
    font-size: smaller;
  }
  body{
    margin: 5vw;
    margin-top: 7vh;
    font-family: "Courier New", Courier, monospace;
  }
</style>
<script>
const c = React.createElement;

const NavBar =
  React.createElement( "nav", { className: "navbar navbar-inverse navbar-fixed-top"},
      React.createElement( "div", { className: "container-fluid" },
        React.createElement( "ul", { className: "nav navbar-nav jays-nav" },
          React.createElement( "li", { className: "active", key: "Home" },
            React.createElement( "a", { href: "/" }, "Home")
	  ), React.createElement( "li", {key: "Archive"},
            React.createElement( "a", { href: "/archive" }, "Archive")
          ),
	  React.createElement( "li", {key: "About"},
            React.createElement( "a", { href: "/about" }, "About")
          )
        )
      )
    );

ReactDOM.render(NavBar, document.getElementById("navigation-bar"));

var setActive = function(selection) {
  var childNodes = document.getElementsByClassName("jays-nav")[0].childNodes;
  for(var i = 0; i < childNodes.length; i ++) {
    if (childNodes[i].innerText !== selection) {
      childNodes[i].removeAttribute("class");
    } else {
      childNodes[i].setAttribute("class", "active");
    }
  }
};

</script>
